PROJECT: This project is basically on how to web scrape  mutiple web pages.

In [2]:

import requests 
from bs4 import BeautifulSoup 
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
page = 1

for page in range(1, 5):


  #I  use f-strings  so that  {page} receive the current value of page,
  url = f"https://www.jumia.com.ng/smartphones/?page={page}#catalog-listing"

  print(url) #To print the four smartphones url.

https://www.jumia.com.ng/smartphones/?page=1#catalog-listing
https://www.jumia.com.ng/smartphones/?page=2#catalog-listing
https://www.jumia.com.ng/smartphones/?page=3#catalog-listing
https://www.jumia.com.ng/smartphones/?page=4#catalog-listing

In [4]:
#to create a variable that initially holds 1, beacuse we want to start scraping from page 1
page = 1

list_of_smartphones = [] # A list that will hold all the features we want to scrape


#To scrape 100 pages in smartphones colection
for page in range(1, 50):


  #I  use f-strings for the url so that  {page} receive the current value of page,
  url = f"https://www.jumia.com.ng/smartphones/?page={page}#catalog-listing"


  #To get the url.
  response = requests.get(url)
  # print(response) #By printing response, we can see that the HTTP response status code is 200, which means that the request for the URL was successful:
  
  html = response.content # To see the html content

  #lxml is the parser that is used on the html variable.
  soup = BeautifulSoup(html, 'lxml') #To give us a defined structure HTML content


  #To run a loop through the parent tags  holding all the smartphones
  #Finds every smartphones in a given page
  for phone in soup.find_all("article", {"class": "prd _fb col c-prd"}):
    
    #Each smartphones’ name, spec, old price, new price, and rating
    # is saved into a smartphone dictionary one by one; 
    #once a smartphone is fully created, it’s added to the smartphone list.
    smartphone = {}

    try:
      smartphone["Phone_Brand"] = phone.find("a")["data-brand"]
    except None:
      smartphone["Phone_Brand"] = ""

    try:
      smartphone["Phone_Spec"] = phone.find("a")["data-name"]
    except None:
       smartphone["Phone_Spec"] = ""

    # To get the old price of the smartphones
    try:
      price = phone.find("div",{"class":"old"}).get_text()

   
      #conditions to clean the old  price we saw in the html tag (₦ 49,990)
      if "," in price:
        old_price = price.lstrip("₦ ").split(",")
        old_price = "".join(old_price)
        smartphone["Old_Price"] = (old_price)
      else:
        old_price = price.lstrip("₦ ")
        smartphone["Old_Price"] = (old_price)

    except:
       smartphone["Old_Price"] = ""

    # To get the new price of the smartphones
    try:
      price = phone.find("div",{"class":"prc"}).get_text()
   
    #conditions to clean the new  price we saw in the html tag (₦ 42,290)
      if "," in price:
        new_price = price.lstrip("₦ ").split(",")
        new_price = "".join(new_price)
        smartphone["New_Price"] = (new_price)
      else: 
        old_price = price.lstrip("₦ ")
        smartphone["New_Price"] = new_price

         
    except AttributeError :
      smartphone["New_Price"] = ""

    #Rating
    try:
      smartphone["Ratings"] = float(phone.find("div", {'class':"stars _s"}).get_text().split()[0])
    except AttributeError:
      smartphone["Ratings"] = ""
 
      

      
    list_of_smartphones.append(smartphone)

In [5]:
#To see the first three smartphones
for phone in list_of_smartphones[:3]:
  print(phone)

{'Phone_Brand': 'Gionee', 'Phone_Spec': 'S11 Lite 5.7-Inch HD (4GB,64GB ROM) Android 7.1 (13MP + 2MP) + 16MP Dual SIM 4G LTE Fingerprint ID Smartphone - Black', 'Old_Price': '49990', 'New_Price': '44290', 'Ratings': 4.1}
{'Phone_Brand': 'QUBO', 'Phone_Spec': 'BIG1-6.26" Screen,4500mAh Battery,16GB ROM,8MP Main Camera,Android 10,Fingerprint Unlock ,3G Android Smartphone', 'Old_Price': '33990', 'New_Price': '30990', 'Ratings': 3.9}
{'Phone_Brand': 'QUBO', 'Phone_Spec': 'Big1 - 4500mAh Big Battery, 6.26"WaterDrop Screen, 1GB+16GB Memory, 5MP+8MP Camera, Fingerprint,Android 10 Smartphone', 'Old_Price': '42990', 'New_Price': '29990', 'Ratings': 3.8}

In [6]:
#The total numbers of smartphones in page 1 to 50
len(list_of_smartphones)

1960

In [7]:
#To create a dataframe
smartphone_df = pd.DataFrame(list_of_smartphones)
smartphone_df.tail()

     Phone_Brand  ... Ratings
1955        Itel  ...
1956      Huawei  ...
1957     Samsung  ...       5
1958      Huawei  ...
1959        Itel  ...

[5 rows x 5 columns]

From here, we can do our cleaning and changing of dtypes and the likes before visulaiztion.

In [8]:
smartphone_df.head()

  Phone_Brand  ... Ratings
0      Gionee  ...     4.1
1        QUBO  ...     3.9
2        QUBO  ...     3.8
3        Itel  ...       4
4     Infinix  ...     4.6

[5 rows x 5 columns]

In [9]:
#To save it to csv
smartphone_df.to_csv('smartphones.csv')